/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-variant);
}

.messageform_container {
  height: calc(100vh - 6rem);

  .message_output {
    height: 82%;
    padding: 0 1.5rem;
    border: 1px solid red;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-bottom: 10px;
    overflow-x: hidden;
  }

  .send_message_bar form {
    width: 100%;
    position: relative;

    .search-field {
      width: 94%;
      background-color: transparent;
      vertical-align: middle;
      border-radius: 1.5rem;
      border: 2.4px solid var(--color-bg);
      font-size: 1.3rem;
      color: white;
      line-height: 2;
      padding: 0.375rem 1.25rem;
      -webkit-transition: border-color 0.2s;
      -moz-transition: border-color 0.2s;
      transition: border-color 0.2s;
    }

    input.search-field {
      margin-bottom: 0;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      align-self: center;
      height: 51px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    input.search-field::placeholder{
      color: rgba(255, 255, 255, 0.617);
    }

    .search-submit {
      height: 51px;
      margin: 0;
      padding: 0 1em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.55rem;
      font-size: 1rem;
    }

    .send-button{
      font-size: 2.5em;
    }

    .button {
      display: inline-block;
      font-weight: 600;
      font-size: 0.8rem;
      background: var(--color-primary);
      color: white;
      border: 2.4px solid var(--color-bg);
      border-left: 0;
      vertical-align: middle;
      text-shadow: none;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
    }

    .button:hover,
    .button:active,
    .button:focus {
      cursor: pointer;
      background: var(--color-primary-variant);
      outline: 0;
    }
  }
}
