.sidebar_container {
    position: relative;
    width: 100%;

  .search_input {
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    height: 40px;
    color: var(--color-bg-variant);
    background: var(--color-bg);
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 50px 10px 10px;
  }
  .search_input::placeholder{
    color: var(--color-bg-variant);
  }
  .search_icon {
    position: relative;
    float: right;
    top: -32px;
    font-size: 1.5em;
    right: 15px;
    background: transparent;
    cursor: pointer;
    color: var(--color-bg-variant);
  }

  .search-results{
    position: relative;
    width: 90%;
    max-height: 75vh;
    background: var(--color-bg);
    display: flex;
    left: 1em;
    top: 3px;
    padding: 1em;
    border-radius: 1em;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;

    .search-result{
      display: flex;
      gap: 1em;
      align-items: center;
      border: 1px solid var(--color-bg-variant);
      border-radius: 1em;
      color: var(--color-bg-variant);
      padding: 0.2em;
      cursor: pointer;
      img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
      .userdetails{
        display: flex;
        flex-direction: column;
        gap: 0.15em;
      }
      &:hover{
        background: var(--color-bg-variant);
        color: var(--color-bg);
        transition: ease 0.3s;
      }
    }
  }
}
